.app-header.ant-layout-header {
  display: flex;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
}
.app-header__logo-search-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.app-header__logo {
  display: inline-block;
  padding: 0 20px;
}
.app-header__logo img {
  width: 70px;
}

.app-header__logo-name {
  display: none;
}

@media screen and (min-width: 670px) {
  .app-header__logo-name {
    font-family: Sacramento, cursive;
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: 5px;
  }
}

.app-header__search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 10px;
}
.app-header__search-input .ant-input-group {
  border: 0;
  width: 100%;
  max-width: 460px;
}
.app-header__search-input .ant-input-group input {
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.app-header__menu-section {
  float: right;
}
.app-header-skeleton {
  display: flex;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
}
.app-header-skeleton__search-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.app-header-skeleton__logo {
  padding: 0 20px;
}
.app-header-skeleton__logo img {
  width: 55px;
}
.app-header-skeleton__search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 10px;
}
.app-header-skeleton__search-input .ant-input-group {
  border: 0;
  width: 100%;
  max-width: 460px;
}
.app-header-skeleton__search-input .ant-input-group input {
  border: 1px solid #f0f1f2;
  box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}

.app-header__search-input .ant-input-wrapper {
}

.app-header__search-input .ant-input-wrapper .ant-input {
  border-radius: 100px;
  max-height: 2.8rem;
  height: 2.8rem;
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  border: 1px solid rgba(34, 34, 34, 0.1);
  box-shadow: none;
  font-size: 1rem;
  padding-left: 1rem;
  transition: all 0.5s ease;
}

.app-header__search-input .ant-input-wrapper .ant-input-group-addon {
  background-color: transparent;
}

.app-header__search-input .ant-input-wrapper .ant-input-group-addon .ant-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-radius: 400px !important;
  padding: 15px !important;
  z-index: 5;
}

.app-header__search-input
  .ant-input-wrapper
  .ant-input-group-addon
  .ant-btn
  .anticon-search {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}

.app-header__menu-section {
  width: 30%;
}
.menu.ant-menu {
  width: 100%;
  padding: 0 20px;
  line-height: 63px !important;
  border: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ant-menu-item a:hover {
  color: var(--primaryColorHeavy) !important;
}
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: var(--primaryColorHeavy) !important;
}
