@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Sacramento);

:root {
  --primaryColor: #ff385c;
  --primaryColorHeavy: #de3151;
  --primaryShadowColor: rgb(34 34 34 / 20%);
  --headingTextColor: #222222;
  --primaryTextColor: #111827;
  --secondaryTextColor: #1f2937;
  --borderColor: #222222;
  --primaryFont: "Nunito";
}

html {
  overflow: auto;
  background-color: #fafafa;
}
#root,
body,
html {
  height: 100%;
  width: 100%;
}
#app {
  position: relative;
  background: #fafafa;
  min-height: 100vh;
  font-family: var(--primaryFont);
}

.ant-layout-content {
  background: #fafafa;
}
main.ant-layout-content.home {
  line-height: normal;
}
.ant-btn-primary {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  border-radius: 0.3rem;
  font-weight: 500;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background: var(--primaryColorHeavy);
  border-color: var(--primaryColorHeavy);
}

.ant-input-group .ant-input:hover {
  border-color: var(--headingTextColor);
}
.ant-input-group .ant-input:focus,
.ant-input-group .ant-input:active {
  border-color: var(--headingTextColor);
  box-shadow: 0 0 0 2px var(--primaryShadowColor);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: var(--primaryColor);
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid var(--primaryColor);
}
.app__affix-header {
  z-index: 100;
}
.app__affix-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media (max-width: 36em) {
  .app__affix-footer {
    display: none;
  }
}
.app-skeleton {
  height: 100%;
  background: #fff;
  display: flex;
}
.app-skeleton__spin-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-card-bordered {
  border: 0px;
}
.ant-card-hoverable {
  transition: all 0.3s ease-out;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}
.ant-card-hoverable:hover {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  box-shadow: none;
}
